---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<FLICKR_API_KEY>&format=json&method=flickr.photos.search&tags=germany
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":1260,"perpage":100,"total":125978,"photo":[{"id":"53328369104","owner":"93207294@N04","secret":"11865d2b72","server":"65535","farm":66,"title":"BMW
        X6 M60i xDrive","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53328295204","owner":"127290050@N03","secret":"bdb14b61c8","server":"65535","farm":66,"title":"Hamburg,
        2023","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53328254009","owner":"199527890@N04","secret":"e23dafd772","server":"65535","farm":66,"title":"Geese","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53327028997","owner":"33906922@N03","secret":"984371abf1","server":"65535","farm":66,"title":"Baumkuchen
        3-D \/ CrossView \/ Stereoscopy","ispublic":1,"isfriend":0,"isf[...]
