---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<FLICKR_API_KEY>&format=json&method=flickr.photos.search&tags=germany
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":1215,"perpage":100,"total":121424,"photo":[{"id":"53328835397","owner":"187741730@N03","secret":"a705c12600","server":"65535","farm":66,"title":"\ud83d\udc8b","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53330093080","owner":"196395450@N05","secret":"4c81de9fb5","server":"65535","farm":66,"title":"Wismar
        Harbour","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53330091520","owner":"187113622@N05","secret":"412c2c3b64","server":"65535","farm":66,"title":"RR
        Media  E: rrphotomedia@gmail.com  W: https:\/\/www.wsimages.com","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53329920694","owner":"147756367@N08","secret":"9945e5c6e1","server":"65535","farm":66,"title":"Talsperre
 [...]
