---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&part=snippet&q=asldfjalshasfgsf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Mon, 13 Nov 2023 17:32:49 GMT
recorded_with: VCR 6.2.0
