---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<FLICKR_API_KEY>&format=json&method=flickr.photos.search&tags=asldfjalshasfgsf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photos":{"page":1,"pages":0,"perpage":100,"total":0,"photo":[]},"stat":"ok"})
  recorded_at: Mon, 13 Nov 2023 17:32:51 GMT
recorded_with: VCR 6.2.0
