---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&part=snippet&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "qMno759SocKcXtOvcrjHXFSQTic",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 183,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "Nem1wHySt-37537GeOtsRAu_LEg",
              "id": {
                "kind": "youtube#video",
                "videoId": "zq6CoIoQZ-w"
              },
              "snippet": {
                "publishedAt": "2021-12-29T21:52:22Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Malta",
                "description": "Pictures Requiring Attribution: Gabriel Treeby Coleiro: https://commons.wikimedia.org/wiki/File:Fungus_Rock,_Dwejra,_Gozo.jpg ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/zq6CoIoQZ-w/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/zq6CoIoQZ-w/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/zq6CoIoQZ-w/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-12-29T21:52:22Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "H2rzY5DIeAhW_H173FxDsjrTDqE",
              "id": {
                "kind": "youtube#video",
                "videoId": "ItTr4KedOYk"
              },
              "snippet": {
                "publishedAt": "2022-04-22T03:27:42Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Mozambique",
        [...]
