---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<FLICKR_API_KEY>&format=json&method=flickr.photos.search&tags=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"stat":"fail","code":3,"message":"Parameterless searches
        have been disabled. Please use flickr.photos.getRecent instead."})
  recorded_at: Tue, 14 Nov 2023 22:16:04 GMT
recorded_with: VCR 6.2.0
